.section-heading {
    background-color: yellow;
}

#first-section {
    color: purple;
    font-size: 20pt;
}

.menu-item {
    margin-right: 10px;
    padding: 5px;
}

.menu-bar {
    background-color: cyan;
    height: 40px;
    margin-top: 10px;
    vertical-align: middle;
    padding-top: 20px;
    width: 50%;
}

.section span {
    color: green;
}

.section {
    font-size: 15pt;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

.form-entry {
    margin-top: 20px;
}

.menu-bar a {
    text-decoration: none;
}